._component_2upadapter header {
    margin: auto;
    text-align: center;
}
@media all and (min-width: 0px) and (max-width: 991px) {
    ._component_2upadapter .slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
                "slot1"
                "slot2";
    }
}
@media all and (min-width: 992px) {
    ._component_2upadapter .slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "slot1  slot2";
    }
}
._component_2upadapter .slots .slot1 {
    grid-area: slot1;
}
._component_2upadapter .slots .slot2 {
    grid-area: slot2;
}







._component_3upadapter header {
    margin: auto;
    text-align: center;
}
@media all and (min-width: 0px) and (max-width: 991px) {
    ._component_3upadapter .slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
                "slot1"
                "slot2"
                "slot3";
    }
}
@media all and (min-width: 992px) {
    ._component_3upadapter .slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
                "slot1  slot2  slot3";
    }
}
._component_3upadapter .slots .slot1 {
    grid-area: slot1;
}
._component_3upadapter .slots .slot2 {
    grid-area: slot2;
}
._component_3upadapter .slots .slot3 {
    grid-area: slot3;
}








._component_imagehero h2,
._component_imagehero h3,
._component_imagehero .description{
    color: white;
}
._component_imagehero .description {
    font-weight: bold;
}







._component_biography .title {
    font-weight: bold;
}
._component_biography .email,
._component_biography .phone {
    font-weight: bold;
    font-size: small;
}
._component_biography .summary {
    font-style: italic;
}
._component_biography .image {
    float: left;
    width: 33%;
    height: 33%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}







._component_book {
    text-align: center;
}
._component_book .order,
.component_book .listen {
    margin-bottom: 1rem;
}
._component_book .image {
    width: 50%;
    height: 50%;
    margin: 1rem 1rem;
}



._component_video {
    text-align: center;
}
._component_video .image {
    width: 100%;
    height: 100%;
    margin: 1rem 1rem;
}







._component_featuredlinkwiththumbnail {

}