._component_2upadapter header {
    margin: auto;
    text-align: center;
}
@media all and (min-width: 0px) and (max-width: 767px) {
    ._component_2upadapter ._component_2upadapter_slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
                "slot1"
                "slot2";
    }
}
@media all and (min-width: 768px) {
    ._component_2upadapter ._component_2upadapter_slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "slot1  slot2";
    }
}
._component_2upadapter ._component_2upadapter_slots ._component_2upadapter_slot1 {
    grid-area: slot1;
}
._component_2upadapter ._component_2upadapter_slots ._component_2upadapter_slot2 {
    grid-area: slot2;
}







._component_3upadapter header {
    margin: auto;
    text-align: center;
}
@media all and (min-width: 0px) and (max-width: 767px) {
    ._component_3upadapter ._component_3upadapter_slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
                "slot1"
                "slot2"
                "slot3";
    }
}
@media all and (min-width: 768px) {
    ._component_3upadapter ._component_3upadapter_slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
                "slot1  slot2  slot3";
    }
}
._component_3upadapter ._component_3upadapter_slots ._component_3upadapter_slot1 {
    grid-area: slot1;
}
._component_3upadapter ._component_3upadapter_slots ._component_3upadapter_slot2 {
    grid-area: slot2;
}
._component_3upadapter ._component_3upadapter_slots ._component_3upadapter_slot3 {
    grid-area: slot3;
}
