._component_textblock {
    margin: 1rem;
}
._component_2upadapter {
    margin: auto;
    padding: 0;
}
._component_2upadapter header {
    margin: auto;
}
@media all and (min-width: 0px) and (max-width: 599px) {
    ._component_2upadapter ._component_2upadapter_slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
                "slot1"
                "slot2";
    }
}
@media all and (min-width: 600px) {
    ._component_2upadapter ._component_2upadapter_slots {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "slot1  slot2";
    }
}
._component_2upadapter ._component_2upadapter_slots ._component_2upadapter_slot1 {
    grid-area: slot1;
}
._component_2upadapter ._component_2upadapter_slots ._component_2upadapter_slot2 {
    grid-area: slot2;
}
