<content-type name="/component/threeimagecompositecta" is-wcm-type="true">
	<label>Four-image Composite CTA</label>
	<form>/component/fourimagecompositecta</form>
	<form-path>simple</form-path>
	<model-instance-path>NOT-USED-BY-SIMPLE-FORM-ENGINE</model-instance-path>
	<file-extension>xml</file-extension>
	<content-as-folder>false</content-as-folder>
	<previewable>false</previewable>
	<quickCreate>true</quickCreate>
	<quickCreatePath>/site/components/sections/ctas</quickCreatePath>
	<noThumbnail>true</noThumbnail>
	<image-thumbnail></image-thumbnail>
</content-type>
